.table {
    width: 100%;
    border: 25px solid #3A4965;
    font-family: 'Arimo', sans-serif;
}

tbody tr:nth-child(even) {
    background-color: #E3E3E3;
}

tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}

table td { 
    border-left: 1px solid #D0D0D0; 
}

th {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 25px 60px 20px;
    background-color: #FAFAFA;
}

th span {
    font-size: 18px;
}

th:nth-child(1) {
    color: #484848;
    font-size: 30px;
    line-height: 30px;
    vertical-align: middle;
}

th:nth-child(2) {
    background-color: #89C331;
}

th:nth-child(3) {
    background-color: #F04A56;
    font-size: 30px;
}

th:nth-child(4) {
    background-color: #20807C;
}

td.price {
    position: relative;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #484848;
    padding: 25px 35px 10px;
    text-align: start;
    line-height: normal;
}

.price:after {
    content: '.99';
    position: absolute;
    font-size: 24px;
    line-height: 28px;
    color: #484848;
    top: 16px;
}

.price:before {
    content: 'per month';
    position: absolute;
    left: 139px;
    top: 43px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

td {
    padding: 20px 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #484848;
}

img {
    margin-right: 5px;
}

tfoot td {
    padding: 30px 41px 30px;
}

tfoot td:nth-child(1){
    background-color: #DDD;
}

tfoot td:nth-child(even){
    background-color: #EEE;
}

tfoot td:nth-child(3){
    background-color: #F4F4f4;
}

.btn {
    width: 195px;
    height: 54px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 -9px 0 0 rgba(0, 0, 0, .10);
    cursor: pointer;
}

td:nth-of-type(1) .btn {
    background-color: #484848;
}

td:nth-of-type(2) .btn {
    background-color: #89C331;
}

td:nth-of-type(3) .btn {
    background-color: #F04A56;
}

td:nth-of-type(4) .btn {
    background-color: #20807C;
}
