table {
    width: 100%;
    border: 25px solid #3A4965;
    font-family: 'Arimo', sans-serif;
}

thead {
    border-bottom: 10px solid #3A4965;
}

td:nth-child(even) {
    background-color: #E3E3E3;
}

td:nth-child(odd) {
    background-color: #F2F2F2;
}

tr {
    border-bottom: 1px solid #D4D4D4;
    position: relative;
}

td {
    font-size: 16px;
    text-transform: uppercase;
    color: #848484;
    padding: 65px 30px;
    line-height: 24px;
    width: 160px;
    text-align: center;
}

.th {
    padding: 25px 0 30px;
    font-weight: 700;
    text-align: center;
    color: #484848;
}

.th:nth-child(1) {
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.th span {
    font-size: 14px;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.price span {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
}

.price {
    padding: 25px;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    vertical-align: top;
    text-align: start;
    line-height: 1.1;
}

.price:after {
    content: '.99';
    position: absolute;
    font-size: 18px;
    top: 59px;
    left: 80px;
}

tr:nth-of-type(1) .price:after {
    top: 63px;
}

.price:before {
    content: 'per month';
    position: absolute;
    left: 125px;
    top: 68px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

tr:nth-of-type(1) .price:before {
    top: 72px;
}

tr:nth-of-type(1) .price {
    background-color: #89C331;
}

tr:nth-of-type(2) .price {
    background-color: #F04A56;
    border-top: 1px solid #F04A56;
}

tr:nth-of-type(3) .price {
    background-color: #20807C;
    border-top: 1px solid #20807C;
}

.btn {
    display: block;
    width: 195px;
    height: 54px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 -9px 0 0 rgba(0, 0, 0, .10);
    cursor: pointer;
    margin-top: 10px;
    background-color: #414141;
}